* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 100%;
}

.common-btn {
    background-color: #1D4ED8;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: auto;
}

/* nav bar style */

nav {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    list-style: none;
}

ul a {
    text-decoration: none;
    color: #575757;
}

/* Hero section style */

.hero-root {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("./images/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 8px;
    height: 700px;
    display: flex;
    justify-content: center;
}

.hero-parent {
    text-align: center;
    margin: 20px auto;
    color: #FFFFFF;
}

.hero-parent h1 {
    margin-top: 72px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 64px;
}

.hero-parent p {
    text-align: center;
    margin-bottom: 275px;
    max-width: 650px;
}

.hero-parent button {
    font-size: 40px !important;
}

.connect {
    font-style: italic;
}

/* Speakers section */

.speakers h1 {
    text-align: center;
    font-size: 45px;
    margin: 50px;

}

.speaker-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.speaker-card {
    border: 2px #c0b9b9e5 solid;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.speaker-info {
    padding: 30px;
}

.speaker-info h5 {
    color: #1D4ED8;
}